<footer class="c-ae2-footer" role="contentinfo">
	{{> 01-molecules/media/ae2logo-footer-link }}
		<p class="c-footer__info" position="relative" top="-20px" align="right" > {{> 00-atoms/buttons/ae2-social-facebook-button }} {{> 00-atoms/buttons/ae2-social-github-button }} {{> 00-atoms/buttons/ae2-social-google-button }} {{> 00-atoms/buttons/ae2-social-twitter-button }} </p>
			<p align="right" position="relative" top="-40px"> {{> 01-molecules/navigation/ae2footer-nav }} </p>
<h5 class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.</h5>
</footer><!-- end c-footer -->
