<header class="c-header" role="banner">

	{{> 01-molecules/media/ae2-logo-link }}

	<div class="c-header__controls">
		<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
		<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>

		{{> 01-molecules/navigation/primary-nav }}
		{{> 01-molecules/forms/search }}

	</div><!-- end c-header__controls -->

</header><!-- end c-header -->
