
<main role="main">
	{{> organisms-page-header }}

	<div class="l l--two-col">
		<div class="l-main">
			<h2>6 AE2 Buttons</h2>
			{{> 00-atoms/text/hr }}

			{{> 00-atoms/buttons/ae2-lbutton }}
  			<p></p>
			{{> 00-atoms/buttons/ae2-mbutton }}
			<p></p>
			{{> 00-atoms/buttons/ae2-sbutton }}
			<p></p>
			{{> 00-atoms/buttons/text-button }}
			<p></p>
			<h3>Social Buttons</h3>
			{{> 00-atoms/buttons/ae2-social-facebook-button }}
			{{> 00-atoms/buttons/ae2-social-github-button }}
			{{> 00-atoms/buttons/ae2-social-google-button }}
			{{> 00-atoms/buttons/ae2-social-twitter-button }}			
			<p></p>
			<h3>Social Buttons with Text</h3>
			{{> 00-atoms/buttons/ae2-social-with-text-facebook-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-github-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-google-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-twitter-button }}				
			{{> 00-atoms/forms/03-radio-button }}
			<p></p>		
			{{> 00-atoms/forms/04-checkbox }}
			<p></p>				
			{{> 00-atoms/forms/02-select-menu }}
			
			{{> 00-atoms/text/hr }}			
		</div><!--end .l-main-->
	</div><!--end .l-two-col-->
</main>

