
<main role="main">

	{{> 02-organisms/text/page-header }}
	
	
	<div class="l">
		<div class="l-main">
			<h2>6 AE2 Buttons</h2>
			{{> 00-atoms/text/hr }}

			{{> 00-atoms/buttons/ae2-lbutton }}
  			<p></p>
			{{> 00-atoms/buttons/ae2-mbutton }}
			<p></p>
			{{> 00-atoms/buttons/ae2-sbutton }}
			<p></p>
			{{> 00-atoms/buttons/text-button }}
			<p></p>
			<h3>Social Buttons</h3>
			{{> 00-atoms/buttons/ae2-social-facebook-button }}
			{{> 00-atoms/buttons/ae2-social-github-button }}
			{{> 00-atoms/buttons/ae2-social-google-button }}
			{{> 00-atoms/buttons/ae2-social-twitter-button }}			
			<p></p>
			<h3>Social Buttons with Text</h3>
			{{> 00-atoms/buttons/ae2-social-with-text-facebook-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-github-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-google-button }}
			{{> 00-atoms/buttons/ae2-social-with-text-twitter-button }}				
			{{> 00-atoms/forms/03-radio-button }}
			<p></p>		
			{{> 00-atoms/forms/04-checkbox }}
			<p></p>				
			{{> 00-atoms/forms/02-select-menu }}
			
			{{> 00-atoms/text/hr }}	
			
			<h2>AE2 Footer</h2>
			{{> 00-atoms/text/hr }}
			{{> 02-organisms/00-global/ae2footer }}
			<p></p>
			
			{{> 00-atoms/text/hr }}	
			<h2>AE2 Header</h2>
			{{> 00-atoms/text/hr }}
			
			{{> 02-organisms/00-global/ae2header }}
			
			{{> 00-atoms/text/hr }}	
			<h2>AE2 Navigation #1</h2>
			{{> 00-atoms/text/hr }}			
			<p></p>
			{{> 01-molecules/navigation/primary-nav }}
			
			{{> 00-atoms/text/hr }}	
			<h2>AE2 Navigation #2</h2>
			{{> 00-atoms/text/hr }}			
			<p></p>
			{{> 01-molecules/navigation/ae2-rwd-nav }}
			
			{{> 00-atoms/text/hr }}	
			<h2>AE2 Jumbotron</h2>
			{{> 00-atoms/text/hr }}	
			
			{{> 01-molecules/messaging/ae2jumbotron }}
				
			{{> 00-atoms/text/hr }}	
			<h2>AE2 Tiling</h2>
			{{> 00-atoms/text/hr }}	
			
			{{> 02-organisms/lists/ae2tile-list }}
			
			{{> 00-atoms/text/hr }}	
			
		</div><!--end .l-main-->
	</div><!--end .l-two-col-->
</main>

